---
const resources_css_tailwind = [
    {"icon" :"https://www.tailwindgen.com/_next/image?url=%2Flogo.png&w=64&q=75","name":"Tailwindgen","description":"Generador de grid con tailwindcss","url":"https://www.tailwindgen.com/"},
    {"icon":"https://cssgridgenerator.io/_next/image?url=%2Flogo1.png&w=64&q=75","name":"CSS Grid Generator","description":"Generador de cuadricula CSS","url":"https://cssgridgenerator.io/"},
    {"icon":"","name":"font-size clamp Generator","description":"Generador de tamaño de letra responsive","url":"https://clamp.font-size.app/"},
    {"icon":"https://raw.githubusercontent.com/creativetimofficial/public-assets/68ec797edf00b697e15c3c55e64d0532fb058c2e/twcomponents/sm-logo.svg","name":"Tailwindcss Gradient","description":"Generador de gradiente","url":"https://www.creative-tim.com/twcomponents/gradient-generator"},
    {"icon":"https://cssgradient.io/favicon.ico","name":"CSS Gradient","description":"Generador de gradiente con css","url":"https://cssgradient.io/"},
    {"icon":"https://coolors.co/assets/img/logo.svg","name":"Coolors","description":"Generador de paletas de colores","url":"https://coolors.co/"},
    {"icon":"","name":"Tailwindcss Glassmorphism","description":"Generador de Glassmorphism para tailwindcss","url":"https://tailwindcss-glassmorphism.vercel.app/"},
    {"icon":"https://hype4.academy/_next/static/media/logo.b6977cf7.svg","name":"Hype Academy","description":"Generador de Glassmorphism","url":"https://hype4.academy/tools/glassmorphism-generator"},
    {"icon":"https://neumorphism.io/favicon.ico","name":"Neumorphism io","description":"Generador de Neumorphism","url":"https://neumorphism.io/#878787"}
];
---
{resources_css_tailwind.map(tool => (
    <a href={tool.url} target="_blank" rel="noopener noreferrer"
        class="group flex flex-col border-2 rounded-xl border-palette-700 bg-palette-900 p-4 hover:border-palette-500 hover:scale-105 w-72 h-42"
    >
        <div
            class="flex justify-between items-center me-2"
        >
            <h6 class="text-palette-300 font-bold flex justify-center items-center text-center me-2 group-hover:text-palette-200"
            >
                <span class="mr-2"><img src={tool.icon} class="w-7" alt=""></span>{tool.name}
            </h6>
            <span class="icon-[streamline-sharp--link-share-2] text-palette-300"></span>
        </div>
        <div class="mt-5">
            <p class="text-palette-200 group-hp">{tool.description}</p>
        </div>
    </a>
))}